{% extends "base.html" %}

{% block title %}
    Confirmar
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>¿Realmente desea eliminar a esta persona ?</h2>
            <h1>{{persona.profesion}} {{persona.nombre}}</h1>
            <label>
                <a href='{{persona.get_detail_path}}' class="btn btn-primary">Cancelar</a>
            </label>
            <label>
                <a href='{% url "directorio:delete_dir" persona.id %}' class="btn btn-danger">Eliminar</a>
            </label>
        </div>
    </div>
{% endblock content %}