{% extends "base.html" %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
<div class="row">
    <div class="col m12" style="text-align:center; font-size: 12px;">
        <div class="row" style="margin-top: 20px;">
            <div class="col m4">
                <a href='{% url "directorio:edit_dir" persona.id %}' class="btn blue darken-4">Editar</a>
            </div>
            {% if persona.status != "1" %}
            <div class="col m4">
                <a href='{% url "directorio:doc" persona.id%}' class="btn ">Acuse</a>
            </div>
            {% endif %}
            <div class="col m4">
                <a href='{% url "directorio:confirm_dir" persona.id%}' class="btn red darken-4">Eliminar</a>
            </div>
        </div>
        <div class="row">
        <div class="col m6 offset-m3">
            {% for mensaje in messages  %}
                <div><span class="green-text text-darken-2"><h5>{{mensaje}}</h5></span></div>
            {% endfor %}
        </div>
        <div class="col m12">
            <h1 align="center">{{persona.profesion}} {{persona.nombre}}</h1>
        </div>
            <div class="col m8 offset-m2" style="font-size:14px;">
                <table class="bordered" style="text-align:left;">
                        <tr>
                            <th>Cargo:</th><td>{{persona.cargo | linebreaks}}</td>
                        </tr>
                        <tr>
                            <th>Direccion:</th><td>{{persona.direccion |linebreaks}}</td>
                        </tr>
                        <tr>
                            <th>Telefono:</th><td>{{persona.telefono}}</td>
                        </tr> 
                        <tr>
                            <th>Esposa(o):</th><td>{{persona.pareja}}</td>
                        </tr>
                        <tr>
                            <th>Pertenece a:</th><td>{{persona.user}}</td>
                        </tr>
                        {% if persona.modificado %}
                            <tr>
                                <th>Modifiado por:</th><td>{{persona.modificado}}</td>
                            </tr>
                        {% endif %}
                        {% if persona.status == "1" %}
                            <tr><th>Situcación:</th><td>No Autorizado</td></tr>
                        {% else %}
                            {% if persona.status == "2" %}
                                <tr><th>Situcación:</th><td>Autorizado</td></tr>
                            {% else %}
                                <tr><th>Situcación:</th><td>Entregado</td></tr>
                            {% endif %}
                        {% endif %}

                </table>
            </div>
        </div>
    </div>
</div>    
{% endblock content %}