{% extends "base.html" %}
{% load materializecss %}

{% block title %}
    Nueva Persona
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col m6 offset-m3">
            <h2 align="center">{{title}}</h2>
            <!--<div class="row">
                <div class="col-md-12">
                    <h4><small>Los campos marcados con</small> * <small>son obligatorios.</small></h4>
                </div>
            </div>-->
            <form action="" method="POST">
                {% csrf_token %}
                <!--{# <label for="{{form.profesion.id_profesion}}">Profesion</label>
                {{form.profesion}} #}-->
                {{form|materializecss}}

              <button class="btn waves-effect waves-light light-blue darken-3" type="submit" name="action" style="margin-top: 15px;">Guardar
                <i class="material-icons right">send</i>
              </button>
        
                <!--<input type="submit" value="Guardar" class="btn light-blue darken-3" style="margin-bottom: 10px;margin-top: 20px;">-->
            </form>
        </div>
    </div>
{% endblock content %}