{% extends "base.html" %}

{% block title %}Directorio{% endblock title %}

{% block content %}
{% load directorio_tags %}
    <div class="row">
        <form action="" method="GET">
            <div class="col m6">
                <div class="input-field">
                    <label for="Buscar">Buscar</label> 
                    <input type="text" class="" name="q" value="{{request.GET.q}}">
                </div>
            </div>
            <div class="col m6">
                <div class="input-field">
                    <button type="submit" class="btn waves-effect waves-light light-blue darken-3">
                     <i class="material-icons">search</i>
                    </button>
                    <a href='{% url "directorio:home" %}' class="btn waves-effect waves-light light-blue darken-3">Lista completa</a>
                    <!-- Dropdown Trigger -->
                    <a class='dropdown-button btn light-blue darken-3' href='#' data-activates='dropdown2'>Opciones de Word</a>
                    <!-- Dropdown Structure -->
                    <ul id='dropdown2' class='dropdown-content '>
                      <li><a href='{% url "directorio:crear_lista_general" %}' class="waves-effect waves-teal">Lista</a></li>
                      <li><a href='{% url "directorio:acuses_generales" %}' class="waves-effect waves-teal">Acuses</a></li>
                      <li><a href='{% url "directorio:seleccion_gral_dir" %}' class="waves-effect waves-teal">Seleccionar acuses autorizados</a></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
         <div class="col m6" id="table-list" style="overflow: hidden;overflow-y: auto;">
            <table class="bordered highlight" >
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Prof.</th>
                        <th>Nombre</th>
                        {# <th>Aut.</th> #}
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for persona in directorio %}
                        {% if persona.status == "2" %}
                            <tr class=" teal accent-3">
                        {% else %}
                            {% if persona.status == "3" %}
                                <tr class="blue lighten-1">
                            {% else %}
                                <tr>
                            {% endif %}
                        {% endif %}
                            <td >{{persona.id}}</td>
                            <td >{{persona.profesion}}</td>
                            <td >{{persona.nombre}}</td>
                            <td ><label><a href='javascript:detalle("{% url "directorio:load_detail" persona.id %}");' id="link-detalle" class="btn waves-light teal darken-4">Detalles</a></label></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {# contenedor donde se mostrara el detalle  #}
        <div class="col m6" style="overflow: hidden; overflow-y: auto;" id="preview-detalle">
        </div>
    </div>
{% endblock content %} 
