{% extends "base.html" %}

{% block title %}
    Informacion
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>Información del obsequio</h1>
            <table class="bordered">
                <tr>
                    <th>Nombre</th>
                    <th>Autorizados</th>
                    {# <th>Cantidad</th> #}
                    <th>Entregados</th>
                    {# <th>Existencia</th> #}
                </tr>
                <tr>
                    <td>{{obsequio.nombre}}</td>
                    {# <td>{{obsequio.cantidad}}</td> #}
                    {# <td>{{existencia}}</td> #}
                    <td>{{autorizados}}</td>
                    <td>{{entregados}}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock content %}