{% extends "base.html" %}

{% block title %}
    Mi lista
{% endblock title %}

{% block content %}
   
    <div class="row">
        <form action="" method="GET">
            <div class="col m6">
                    <div class="input-field">
                        <label for="buscar">Buscar</label>
                        <input type="text" class="validate" name="q" value="{{request.GET.q}}">
                    </div>
            </div>
            <div class="col m6">
                <div class="input-field">
                    <button type="submit" class="btn light-blue darken-3"><i class="material-icons">search</i></button>
                    <a href='{% url "directorio:milista_dir" %}' class="btn light-blue darken-3">Mi Lista completa</a>
                    
                    <!-- Dropdown Trigger -->
                    <a class='dropdown-button btn light-blue darken-3' href='#' data-activates='dropdown2'>Opciones de Word</a>
                    <!-- Dropdown Structure -->
                    <ul id='dropdown2' class='dropdown-content'>
                      <li><a href='{% url "directorio:lista_dir" %}' class="">Mi Lista</a></li>
                      <li><a href='{% url "directorio:crear_mis_acuses" %}' class="">Mis Acuses</a></li>
                      <li><a href='{% url "directorio:mis_etiquetas" %}' class="">Mis etiquetas</a></li>
                      <li><a href='{% url "directorio:acuses_dir" %}' class="">Seleccionar mis acuses y etiquetas</a></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col m6" id="table-milista" style="overflow: hidden; overflow-y: auto;">
                <table class="bordered highlight">
                    <thead>
                        <tr>
                            <th>Profesión</th>
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for persona in lista %}
                            {% if persona.status == "2" %}
                                <tr class="teal accent-3">
                            {% else %}
                                {% if persona.status == "3"%}
                                    <tr class="blue lighten-1">
                                {% else %}
                                    <tr>
                                {% endif %}
                            {% endif %}
                            <td>{{persona.profesion}}</td>
                            <td>{{persona.nombre}}</td>
                            <td>
                                <label><a href='javascript:detalle("{% url "directorio:load_detail" persona.id %}");' id="link-detalle" class="btn teal darken-4">Detalles</a></label>
                            </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
        <div class="col m6" style="overflow: hidden; overflow-y: auto;" id="preview-detalle">
            
        </div>
    </div>
{% endblock content %}