{% extends "base.html" %}

{% block title %}
    Mi lista
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col m12 center-align">
            <h5>Lista de {{user}}</h5>
        </div>
        <div class="col m6">
            <form action="" method="GET">
                <div class="input-field">
                    <label for="buscar">Buscar</label>
                    <input type="text" class="validate" name="q" value="{{request.GET.q}}">
                </div>
                <button type="submit" class="btn">Buscar</button>
                <a href='{% url "directorio:milista_dir" %}' class="btn">Mi Lista completa</a>
             </form>
        </div>
        <div class="col m6">
              <h5>Estas opciones generan un archivo de word</h5>
              <a href='{% url "directorio:lista_dir" %}' class="btn-flat">Mi Lista</a>
              <a href='{% url "directorio:crear_mis_acuses" %}' class="btn-flat">Mis Acuses</a>
              <a href='{% url "directorio:acuses_dir" %}' class="btn-flat">Seleccionar mis acuses</a>
        </div>
    </div>
    <div class="row">
        <div class="col m6" id="table-milista" style="overflow: hidden; overflow-y: auto;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Profesión</th>
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for persona in lista %}
                            {% if persona.status == "2" %}
                                <tr class="success">
                            {% else %}
                                {% if persona.status == "3"%}
                                    <tr class="info">
                                {% else %}
                                    <tr>
                                {% endif %}
                            {% endif %}
                            <td>{{persona.profesion}}</td>
                            <td>{{persona.nombre}}</td>
                            <td>
                                <label><a href='javascript:detalle("{% url "directorio:load_detail" persona.id %}");' id="link-detalle" class="btn btn-default btn-sm">Detalles</a></label>
                                {% if persona.status != "1"  and persona.status != "None" %}
                                    <label><a href='{% url "directorio:doc" persona.id %}' class="btn btn-info btn-sm">Acuse</a></label>
                                {% endif %}
                            </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
        <div class="col m6" style="overflow: hidden; overflow-y: auto;" id="preview-detalle">
            
        </div>
    </div>
{% endblock content %}