{% extends "base.html" %}

{% block title %}
    Mi lista
{% endblock title %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <h4>Lista de {{user}}</h4>
            <div class="col-md-6">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Buscar" name="q" value="{{request.GET.q}}">
                    </div>
                    <button type="submit" class="btn btn-default">Buscar</button>
                    <a href='{% url "directorio:milista_dir" %}' class="btn btn-default bt-md">Mi Lista completa</a>
                 </form>
            </div>
            <div class="col-md-6">
                <ul class="nav nav-pills">
                  <li role="presentation"><a href='{% url "directorio:lista_dir" %}'>Mi Lista</a></li>
                  <li role="presentation"><a href='{% url "directorio:crear_mis_acuses" %}'>Mis Acuses</a></li>
                  <li role="presentation"><a href='{% url "directorio:acuses_dir" %}'>Seleccionar mis acuses</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="table-responsive" id="table-milista">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Profesión</th>
                                <th>Nombre</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for persona in lista %}
                                {% if persona.status == "2" %}
                                    <tr class="success">
                                {% else %}
                                    {% if persona.status == "3"%}
                                        <tr class="info">
                                    {% else %}
                                        <tr>
                                    {% endif %}
                                {% endif %}
                                <td>{{persona.profesion}}</td>
                                <td>{{persona.nombre}}</td>
                                <td>
                                    <label><a href='javascript:detalle("{% url "directorio:detail_dir" persona.id %}");' id="link-detalle" class="btn btn-default btn-sm">Detalles</a></label>
                                    {% if persona.status != "1"  and persona.status != "None" %}
                                        <label><a href='{% url "directorio:doc" persona.id %}' class="btn btn-info btn-sm">Acuse</a></label>
                                    {% endif %}
                                </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6" style="overflow: hidden; overflow-y: auto;" id="preview-detalle">
                
            </div>
        </div>
    </div>
{% endblock content %}