{% extends "base.html" %}
{% load staticfiles %}

{# titulo de la pagina #}
{% block title %}
    Seleccion de acuses
{% endblock title %}

{# bloque para agregrar referencias #}
{% block ligas %}
    <link rel="stylesheet" type="text/css" href='{% static "css/multi-select.css" %}'>
    <script type="text/javascript" src ='{% static "js/jquery.multi-select.js" %}'></script>
    <script type="text/javascript" src = '{% static "js/jquery.quicksearch.js" %}'></script>
{% endblock ligas %}

{# bloque para agregar scripts #}
{% block miscript %}

{% endblock miscript %}

{# bloque de contenido html #}
{% block content %}
<div class="row">
    <div class="col m8 col offset-m2" style="text-align: center;">
        <h4>{{mensaje}}</h4>
    </div>
</div>
<div class="row">
    <div class="col m8 col offset-m2">
        <div style="font-size: 18px;">
            <form id="form_multiple" action="" method="POST">
            {% csrf_token %}
            <input type="hidden" name="tipo" id="tipo">
                <a href='javascript:acuses_mi_lista();' class="btn deep-purple" id="btn-acuses">Acuses</a>
                <a href='javascript:etiquetas_mi_lista();' class="btn amber" id="btn-acuses">Etiquetas</a>
                <a href='javascript:lista_mi_lista();' class="btn amber" id="btn-acuses">Lista</a>
                {# <input type="submit" value="Acuses"> #}
                <div style="margin-top: 10px;">
                    <select multiple="multiple" id="id_acuses" name="acuses" required="required" class="searchable">
                        {% for persona in instancias %}
                            <option value="{{persona.id}}">{{persona.profesion}} {{persona.nombre}}</option>
                        
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}