{% extends "base.html" %}

{% block title %}
    Configurar Perfil
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col m6 offset-m3">
            <form action="" method="POST">
             {% csrf_token %}   
            <div class="input-field">
                <label for="username">Nombre de usuario:</label>  
                <input type="text" name="username" id="username" value="{{user.username}}">
            </div>
            <div class="input-field">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="nombre" value="{{user.first_name}}">
            </div>
            <div class="input-field">
                <label for="apellidos">Apellidos:</label>
                <input type="text" name="apellidos" id="apellidos" value="{{user.last_name}}">                         
            </div>

            <button class="btn">
                Guardar Pefil
            </button>
            </form>
        </div>
    </div>
{% endblock content %}