{% load staticfiles %}
<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <title>Directorio |{% block title %}{% endblock title %}</title>
          <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href='{% static "css/materialize.min.css" %}'  media="screen,projection"/>

    <link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
   
    <script type="text/javascript" src='{% static "js/jquery-3.1.0.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/materialize.min.js" %}'></script>
    <script type="text/javascript" src = '{% static "js/aplicacion.js" %}'></script>
    
    {% block ligas %}
      
    {% endblock ligas %}

    <style type="text/css">
      {% block estilo %}
        
      {% endblock estilo %}
    </style>
    <script type="text/javascript">
      {% block miscript %}
        
      {% endblock miscript %}
    </script>
</head>
<body>
  <div class="navbar-fixed">
    <nav class="light-blue darken-3">
      <div class="nav-wrapper">
        <ul class="left hide-on-med-and-down">
          <li>
            <a href='{% url "directorio:home" %}' class="active">Directorio</a>
          </li>
        
          <li><a href='{% url "directorio:milista_dir" %}'>Mi Lista</a></li>
        
          <li><a href='{% url "directorio:create_dir" %}'>Nueva Persona</a></li>

          <li><a href='{% url "directorio:informacion" %}'>Información</a></li>
          <li>

            <!-- Dropdown Trigger -->
            <a class='dropdown-button' href='#' data-activates='dropdown1'>Acuse<i class="material-icons right">arrow_drop_down</i></a>
            
            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
              <li><a href="#!">Nuevo</a></li>
              <li><a href="#!">Editar</a></li>
              <li><a href="#!">Ver</a></li>
            </ul>
                  
          </li>

        </ul>
        <ul class="right hide-on-med-and-down">
          <li>Usuario: {{user}}</li>
          <li><a href='{% url "accounts:logout" %}'>Cerrar Sesión</a></li>
        </ul>
      </div>    
    </nav>
  </div>
    <div class="container-fluid">
        {% block content %}
            
        {% endblock content %}
    </div>
</body>
</html>