{% load staticfiles %}
<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <title>Directorio |{% block title %}{% endblock title %}</title>
          <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href='{% static "css/materialize.min.css" %}'  media="screen,projection"/>

    <link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
   
    <script type="text/javascript" src='{% static "js/jquery-3.1.0.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/materialize.min.js" %}'></script>
    <script type="text/javascript" src = '{% static "js/aplicacion.js" %}'></script>
    
    {% block ligas %}
      
    {% endblock ligas %}

    <style type="text/css">
      {% block estilo %}
        
      {% endblock estilo %}
    </style>
    <script type="text/javascript">
      {% block miscript %}
        
      {% endblock miscript %}
    </script>
</head>
<body>
  <div class="navbar-fixed">
    <nav class="light-blue darken-3">
      <div class="nav-wrapper">
        <ul class="left hide-on-med-and-down">
          <li>
            <img src='{% static "img/logo.png" %}' style="max-height: 65px;">
          </li>
          <li>
            <a href='{% url "directorio:home" %}' {% if  request.resolver_match.url_name == "home" or request.resolver_match.url_name == "seleccion_gral_dir" %}class="active"{% endif %} >Directorio</a>
          </li>
        
          <li><a href='{% url "directorio:milista_dir" %}' {% if request.resolver_match.url_name == "milista_dir" or request.resolver_match.url_name == "acuses_dir"%}class="active"{% endif %} >Mi Lista</a></li>
        
          <li><a href='{% url "directorio:create_dir" %}' {% ifequal  request.resolver_match.url_name "create_dir" %}class="active"{% endifequal %} >Nueva Persona</a></li>

          <li><a href='{% url "directorio:informacion" %}' {% ifequal  request.resolver_match.url_name "informacion" %}class="active"{% endifequal %} >Información</a></li>
          <li>
            <!-- Dropdown Trigger -->
            <a class='dropdown-button' href='#' data-activates='dropdown1'>Acuse<i class="material-icons right">arrow_drop_down</i></a>
            
            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content '>
              {# <li><a href="#!">Nuevo</a></li> #}
              <li><a href='{% url "directorio:ver_acuse" %}'>Ver</a></li>
              <li><a href='{% url "directorio:editar_acuse" %}'>Editar</a></li>
            </ul>
                  
          </li>
          <li>Recursos</li>

        </ul>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="#" class="dropdown-button" data-activates="dropdown3"> Usuario: {{user}} <i class="material-icons right">arrow_drop_down</i></a>
            <ul id="dropdown3" class="dropdown-content">
              <li><a href='{% url "directorio:user_perfil" %}'>Perfil</a></li>
              {# <li><a href="#">Configuracion</a></li> #}
              <li class="divider"></li>
              <li><a href='{% url "accounts:logout" %}'>Cerrar Sesión</a></li>
            </ul>
          </li>

        </ul>
      </div>    
    </nav>
  </div>
    <div class="container-fluid" id="contenedor">
        {% block content %}
            
        {% endblock content %}
    </div>
</body>
</html>